/* .Headingdata {
  background-color: chartreuse;
  text-align: center;
  color: blue;
  width: 200px;
}

.Headingdata1 {
  background-color: rgb(213, 38, 116);
  text-align: center;
  color: rgb(31, 191, 114);
}
.demo {
  display: grid;

  grid-template-columns: 200px 200px;

  background-color: rgb(230, 235, 225);
}
.left {
  color: blue;
  font-size: 30px;
}
.right {
  color: blue;
  font-size: 30px;
}
.rightagain {
  margin-left: 50%;
}
.leftagain {
  margin-left: 50%;
} */
.container {
  margin-top: 100px;
  margin-left: 50px;
  background-color: rgb(250, 248, 248);
  height: 700px;
  width: 90%;
}
.amitinput {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.child1 {
  background-color: rgb(185, 185, 216);
  height: 300px;
  width: 500px;
  display: grid;
}
.child2 {
  background-color: rgb(239, 241, 235);
  height: 300px;
  width: 500px;
  overflow: scroll;
}
